<!-- Interpolation -->
<h1>Welcome to {{hotelName}}</h1>

<!-- {{roomList | json}}  -->
<div [hidden]="hideRooms">
    Number of rooms:

    {{rooms?.availableRooms ?? "No Rooms"}}
    <div [ngStyle]="{'color' : rooms.availableRooms ? 'steelblue' : 'red'} ">
        <div [innerText]="numberOfRooms"></div> <!-- Property binding -->
    </div>
    <div *ngIf="rooms.availableRooms > 0">
        <app-rooms-list [rooms]="roomList"></app-rooms-list>
    </div>


</div>
<!-- Event binding -->
<button (click)="toggle()">Toggle</button>