<!-- Interpolation -->
<h1>Welcome to {{hotelName}}</h1>

<!-- {{roomList | json}}  -->
<div [hidden]="hideRooms">
    Number of rooms:

    {{rooms?.availableRooms ?? "No Rooms"}}
    <div [ngStyle]="{'color' : rooms.availableRooms ? 'steelblue' : 'red'} ">
        <div [innerText]="numberOfRooms"></div> <!-- Property binding -->
    </div>
    <div *ngIf="rooms.availableRooms > 0">
        List of Rooms:
        <!-- {{roomList}} -->
        <table>
            <tr>
                <th>Even/Odd</th>
                <th>Room Number</th>
                <th>Room Type</th>
                <th>Room Price</th>               
                <th>Room Amenities</th>
                <th>Checkin Time</th>
                <th>Rating</th>
            </tr>
            <tr [ngClass]="e ? 'even' : 'odd'" *ngFor="let room of roomList | slice : 0 : 6; let e = even; let o = odd; let i = index">
                <td>{{e ? "Even" : "Odd"}}</td>
                <td>{{room.roomNumber}}</td>
                <td>{{room.roomType}}</td>
                <td>{{room.price | currency : "INR"}}</td>
                <td>{{room.amenities}}</td>
                <td>{{room.checkinTime | date : 'short'}}</td>
                <td>{{room.rating | number : '1.1-1' }}</td>
            </tr>
        </table>
    </div>


</div>
<!-- Event binding -->
<button (click)="toggle()">Toggle</button>